body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bgimg{
background-image: url("../images/Rugbypitch.png");
background-size:cover 
}

.bgimgLogin{
  background-image: url("../images/rwc.jpg");
  background-size:cover 
  }

h1{
  text-align: center
}

.my-size{
  font-family: 'Allerta Stencil';
  font-size: 18px;
  font-weight: 800;
  color: blue;
  text-align: center
}

.normal{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 100;
  color:black;
  text-align: left;
}