doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-primary.mb-3
      .container
          .navbar-brand(href="#") RugbyApp
          .navbar-nav
              .nav-item
                  a.nav-link( href="http://localhost:3000/") Login
              .nav-item
                  a.nav-link(href="http://localhost:3000/register") Register
              .nav-item
                  a.nav-link(href="#") Team Selection
              .nav-item
                  a.nav-link(href="#") Display Team

 
    
    block content
    nav.navbar.fixed-bottom.navbar-dark.bg-primary
      a.navbar-brand(href='#') Rugby World Cup 
      
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
