extends layout

block content
  h1= title

  .row
    .col
      form(action="/register", method="post")
        .form-group
          label(for='firstname') First Name
          input#username.form-control.is-valid(type='text' name="firstname")
        .form-group
        .form-group
          label(for='lastname') Last  Name
          input#username.form-control.is-valid(type='text' name="lastname")
        .form-group
        .form-group
          label(for='username') Username
          input#username.form-control.is-valid(type='text' name="username")
        .form-group
        .form-group
          label(for='email') Email
          input#username.form-control.is-valid(type='text' name="email")
        .form-group
          label(for='password') Enter Password
          input#password.form-control.is-valid(type='password' name="password")
        .form-group
          label(for='password2') Confirm Password
          input#password2.form-control.is-valid(type='password' name="confirm")
        .text-center    
          button.btn.btn-primary.text-center(type = "submit") Register
    .col.bgimgLogin


