extends layout

block content
  h1= title
  .container.padding-5

    .col
      .row.mt-5
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size LooseHead Prop
            .card-body
            
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Hooker
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Tighthead Prop
            .card-body
      
      .row.mt-5
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Number 4
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Number 5
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Tighthead Prop
            .card-body
      
      .row.mt-5
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size LooseHead Prop
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Number 8
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Scrumhalf
            .card-body

      .row.mt-5
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Outhalf
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Inside Center
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Outside Center
            .card-body

      .row.mt-5
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Left Wing
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Full Back
            .card-body
            
        .col
          .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
            .card-header.text-center.bg-transparent.my-size Right Wing
            .card-body

    .col
           
    
           
  .text-center    
              button.btn.btn-success.btn-lg.text-center.mx-5(type = "submit") Display Team
