extends layout

block content


  h1= title
  .row
    .col
    .col.text-center.my-size
       form(action="/", method="post")
        .form-group
          label(for='username') Team Name
          input#username.form-control.is-valid(type='text' name='username')
    .col
 
  .row
    .col
      .row
        .col-2.mt-5
          .h4.text-center Pick Team
          each player in players
            ul.list-group.mb-1
                a.list-group-item(href = "#" onclick=`addToArray(${JSON.stringify(player)})`)=player.name
                
        .col
          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.my-size LooseHead Prop
                .card-body
                 .p.normal.text-center Name: 
                
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Hooker
               .card-body 
                  .p.normal.text-center Name: 
                
              
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Tighthead Prop
               .card-body
                  .p.normal.text-center Name:
          
          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Number 4
               .card-body
                  .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Number 5
               .card-body
                 .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Tighthead Prop
               .card-body
                  .p.normal.text-center Name:
          
          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size LooseHead Prop
               .card-body
                  .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Number 8
               .card-body
                 .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Scrumhalf
               .card-body
                 .p.normal.text-center Name:
          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Outhalf
               .card-body
                  .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Inside Center
               .card-body
                 .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Outside Center
               .card-body
                  .p.normal.text-center Name:

          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Left Wing
               .card-body
                 .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Full Back
               .card-body
                  .p.normal.text-center Name:
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
               .card-header.my-size Right Wing
               .card-body
                 .p.normal.text-center Name:

      
  |    
           
    
           
  .text-center    
              button.btn.btn-success.btn-lg.text-center.mx-5(type = "submit") Display Team
  
  script(type='text/javascript').
    var players = new Array(15);
    function addToArray(player){
      window.alert("1");
       var position = (player.number)-1;
       window.alert("2" + "array position" + position);
       players[position] = player;
       window.alert("3"+ player.name + " "+ player.position+ " " + player.weight+ " " + player.age+ " " + player.image); 
     }
    