extends layout

block content
  h1= title
  .row
    .col
      .row
        .col-2.mt-5
          each player in players
            ul.list-group.mb-1
                a.list-group-item(href = "#")=player.name

               

        .col
          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent LooseHead Prop
                .card-body 
                
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Hooker
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Tighthead Prop
                .card-body
          
          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Number 4
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Number 5
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Tighthead Prop
                .card-body
          
          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent LooseHead Prop
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Number 8
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Scrumhalf
                .card-body

          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Outhalf
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Inside Center
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Outside Center
                .card-body

          .row.mt-5
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Left Wing
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Full Back
                .card-body
                
            .col
              .card.bg-transparent.text-dark.w-75.ml-auto.mr-auto.border-0
                .card-header.text-center.bg-transparent Right Wing
                .card-body

      
  |    
           
    
           
  .text-center    
              button.btn.btn-success.btn-lg.text-center.mx-5(type = "submit") Display Team
